.genresContainer{
    margin: 10px 0 !important;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.genreImage{
    margin-right: 10px;
}
.genreLink{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.castImage{
    width: 100%;
    max-width: 7em;
    height: 8em;
    object-fit: cover;   
}
.buttonsContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.modal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.video{
    width: 50%;
    height: 50%;
}